__pycache__/
.pytest_cache/
*.egg-info/
.vscode/

Data/
Logs/
Plots/
tmp/

MUJOCO_LOG.TXT
*_MODIFIED.xml

actuator_logs/obs_buffer*
actuator_logs/states_buffer*
actuator_logs/torque_buffer*
obs_buffer*
states_buffer*
torque_buffer*

Paper_plots*/
*_plot_logs
